### `Problem 1:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 2:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [ ]:
candy_list = ['Jelly Belly', 'Kit Kat', 'Double Bubble', 'Milky Way', 'Three Musketeers']
no_of_items = [10, 20, 34, 74, 32]
candy_dict = dict(zip(candy_list, no_of_items))
for candy, count in candy_dict.items():
    print(f'{candy}-{count} items')

Jelly Belly-10 items
Kit Kat-20 items
Double Bubble-34 items
Milky Way-74 items
Three Musketeers-32 items

###`Problem 3:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [ ]:
def running_sum(nums):
    if not nums:
        return []

    running_sum_list = []
    current_sum = 0

    for num in nums:
        current_sum += num
        running_sum_list.append(current_sum)

    return running_sum_list


nums = [1, 2, 3, 4, 5]
result = running_sum(nums)
print(f"Original list: {nums}")
print(f"Running sum list: {result}")

Original list: [1, 2, 3, 4, 5]
Running sum list: [1, 3, 6, 10, 15]

###`Problem 4:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [ ]:
def calculate_sum(input_list):
    result_list = []
    n = len(input_list)

    for i in range(n):
        current_sum = sum(x for x in input_list if x >= input_list[i])
        result_list.append(current_sum)

    return result_list

input_list = [2, 4, 6, 10, 1]
result = calculate_sum(input_list)
print("[2,4,6,10,1]-->",result)

[2,4,6,10,1]--> [22, 20, 16, 10, 23]

###`Problem 5:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [ ]:
num1 = [23, 45, 67, 78, 89, 34]
num2 = [34, 89, 55, 56, 39, 67]
result = sorted(set(num1) & set(num2))
print(result)

[34, 67, 89]